<!doctype html>
<html>
  
  <head>  
    <title>Motivational Quotes and Music</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
      
  <body>
    <h1>Motivational Quotes and Music</h1>
    <h2>This is a place where you can </h2>
    <a href="/input">Click Here to Start</a>
  </body>
  
</html>