<!doctype HTML>
<html>
  <head> 
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h3> Choose the type of day you are going to have </h1>
    <p>pick one!</p>

  <select>
    <option value="lazy">Lazy</option>
    <option value="busy">busy</option>
  </select>

       <h3> Choose the type of day you are going to have </h1>
    <p>pick one!</p>

  <select>
    <option value="confident">Confident</option>
    <option value="scared">Scared</option>
    <option value="ecstatic">Ecstatic</option>
    <option value="sad">Sad</option>
    <option value="angry">Angry</option>
    <option value="happy">Happy</option>
  </select>
    
   <form action="/results" method="post">
      <input type="submit">
    </form>
    
   </body>
</html>